/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
.page-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.page-header h1 {
    margin: 0;
    
}

.text-center {
    text-align: center;
}

/* Navigation bar styles */
.black-background {
    background-color: #333;
    color: #fff;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.flexbox a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Section styles */
.text-white {
    color: #fff;
}

.bg-black {
    background-color: #000;
    padding: 20px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#social-networks {
    list-style: none;
    padding: 0;
    margin: 0;
}

#social-networks li {
    display: inline-block;
    margin-right: 10px;
}

#social-networks a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}